<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Document</title>
</head>
<body>
  
    <%- include('header')%>


    <h1>Student Report Card</h1>
     <p><%# name  %></p> 
    <p>Name: <%= student.name %></p>
    <p>Grade: <%= student.grade %></p>
    <p>Fav: <%= student.fav %></p>
</body>
</html>